

@{
    ViewData["Title"] = "LOC_CountryAddEdit";
}

@model LOC_CountryModel

<h1>LOC_CountryAddEdit</h1>

<h4>LOC_CountryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  method="post" asp-controller="LOC_Country" asp-action="Save">
            @Html.HiddenFor(x=>x.CountryID)
           
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="LOC_Country" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
